.favorites-page {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.favorites-page p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: #808080;
  text-align: center;
  font-size: 1.1rem;
}

.favorites-page h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
  text-align: center;
}

.collection-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.collection-input {
  flex: 1;
  padding: 8px 12px;
  width: 200px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 200;
  border: 1px solid rgb(174, 222, 254);
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: border-color 0.2s;
}

.collection-input:focus {
  border-color: #333;
}

.collection-button {
  padding: 8px 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  background-color: #add8e6;
  color: #333333;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.collection-button:hover {
  background-color: #2dd4bf;
}

.collection-card {
  width: 100%;
  max-width: 300px;
  flex: 1 1 300px;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.collection-card h3 a {
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-decoration: none;
}

.collection-card h3 a:hover {
  color: #2dd4bf;
}

.collection-card h3 a:visited {
  color: #333333;
}

.collections-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}
