.size-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0 20px 45px;
  font-family: "Poppins", sans-serif;
  color: #333333;
  font-weight: 200;
}
.size-label {
  color: #2dd4bf;
}
.size-filter label {
  margin-bottom: 5px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.size-filter select {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-family: inherit;
  font-size: 14px;
  font-weight: 200;
  color: #333333;
  outline: none;
  transition: border 0.2s ease;
}

.size-filter select:focus {
  border-color: #999;
}
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 220px;
}

.custom-select-wrapper select {
  width: 100%;
  padding: 6px 30px 6px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #333333;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.custom-select-wrapper::after {
  content: "▾";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #333;
  font-size: 14px;
}
